# Created by Vercel CLI

POSTGRES_URL="postgres://default:Ff4urbGxjiH8@ep-empty-wind-a49v053a-pooler.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require"
POSTGRES_PRISMA_URL="postgres://default:Ff4urbGxjiH8@ep-empty-wind-a49v053a-pooler.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require&pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NO_SSL="postgres://default:Ff4urbGxjiH8@ep-empty-wind-a49v053a-pooler.us-east-1.aws.neon.tech:5432/verceldb"
POSTGRES_URL_NON_POOLING="postgres://default:Ff4urbGxjiH8@ep-empty-wind-a49v053a.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require"
POSTGRES_USER="default"
POSTGRES_HOST="ep-empty-wind-a49v053a-pooler.us-east-1.aws.neon.tech"
POSTGRES_PASSWORD="Ff4urbGxjiH8"
POSTGRES_DATABASE="verceldb"

AUTH_SECRET=VSg/c+nGtBoA0mJIAckJuTZtnQ3myapZ2GbMDbvJXfc=
AUTH_URL=http://localhost:3000/api/auth